<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar"></div>
    <div class="navbar"></div>
    <form action="" class="form-signup">
        <input type="text" name="name" id="" placeholder="Enter Your Name Here">
        <!-- <input type="email" name="email" id=""  placeholder="Enter Your Email Here"> -->
        <!-- <input type="number" name="number" id=""  placeholder="Enter Your Number Here"> -->
        <input type="password" name="password" id=""  placeholder="Enter Your Password Here">
        <div class="sign-log"> <button class="form-reg">Signup</button>
        <!-- <a href="/login" class="reg-aa">Already have an account <span class="reg-l"> Login</span></a> -->
    </div>
    </form>

    <script src="/js/navbaar.js"></script>
</body>
</html>