<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    
</head>
<body>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ğ“ƒğ‘’ğ“Œ ğ“…ğ’¶ğ“‰ğ“‰ğ‘’ğ“‡ğ“ƒ ğ“€ğ“Šğ“‡ğ“‰ğ’¾</a>
          
            <div class="whole-cart-window " id="myDIV">
                <div class="cart-wrapper-tot">
                    <div class="cart-wrapper">
                        
                    </div>
                    
                    <a href="/checkout"><div class="checkout">Checkout</div></a>
                    
                </div>
            </div>
          <!-- <img src="/images/us.png" class="bsta" alt=""> -->
        </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ğ“ƒğ‘’ğ“Œ ğ“…ğ’¶ğ“‰ğ“‰ğ‘’ğ“‡ğ“ƒ ğ“€ğ“Šğ“‡ğ“‰ğ’¾</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cetogry
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/">Kurtie</a></li>

                    <li><a class="dropdown-item" href="/tradinational">Tradinational</a></li>
                    <li><a class="dropdown-item" href="/saari">Saari</a></li>
                    
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
        </div>
      </nav>

     

    <form action="" class="form-signup" method="post">
        <input type="text" name="name" id="" required placeholder="Enter Your Name Here" pattern="{4}">
        <input type="email" name="email" id="" required   placeholder="Enter Your Email Here">
        <input type="number" name="number" id="" required  placeholder="Enter Your Number Here" pattern="{10}">
        <input type="password" name="password" id="" required placeholder="Enter Your Password Here" >
        <div class="sign-log"> <button class="form-reg" id="submitme"  type="submit">Signup</button>
        <a href="/login" class="reg-aa">Already have an account <span class="reg-l"> Login</span></a>
    </div>
    </form>
   <script>
    // var showhide=<%-JSON.stringify(abcd)%>;
   </script>
   <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/navbaar.js"></script>
    <script src="/js/product.js"></script>
</body>
</html>